.hade{
    background-color:#0f3460;
    padding:10px 0;
    color: #fff;
}
.hade i{
    margin-right: 10px;
}
.hade label{
    margin-right: 30px;
    font-size: 13px;
}
.lable-display{
    display: none;
}

@media only screen and (max-width:768px) {
    .lable-hiden{
        display: none;
    } 
    .hade i{
        margin-right:10px;
    }
    .lable-display{
        display:inline-block;
    }
}
