.heading{
  margin-bottom:20px;
}
.heading img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .newArrivals h4 {
    font-weight: 400;
  }
 
  .grid-ncard{
    display: grid;
    grid-template-columns:repeat(6)
  }

   @media only screen and (max-width:576px) {
    .grid-ncard{
      display: grid;
      grid-template-columns:repeat(2, 48%)
    }
  }
  
  @media only screen and (max-width:768px) {
    .grid-ncard{
      display: grid;
      grid-template-columns:repeat(3, 32%)
    }
  }