footer {
  background-color: #0f3460;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 5px 15px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
.grid-footer{
   display: grid;
   grid-template-columns: repeat(4,24%) ;
   justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  .grid-footer{
    display: grid;
    grid-row-gap:14px;
    grid-template-columns: repeat(1,100%) ;
    justify-content: space-between;
 }
};

@media only screen and (max-width: 768px) {
  .grid-footer{
    display: grid;
   grid-row-gap:14px;
    grid-template-columns: repeat(2,48%) ;
    justify-content: space-between;
 }
}